.navbarComponent {
  p {
    a {
      position: relative;
      &.active::after {
        content: "";
        height: 2px;
        border-radius: 2px 2px 0 0;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: #1dc6d1;
      }
    }
  }
}
